* {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: Poppins;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header ul li {
  list-style: none;
  padding-right: 70px;
}

header ul li a {
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  color: rgb(88, 0, 0);
}

.faixa {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 2px solid red;
}

.divFla {
  display: flex;
  justify-content: center;
}

.flaIMG {
  width: 120px;
  height: 120px;
}

.divTitulo {
  display: flex;
  justify-content: center;
  color: rgb(179, 0, 0);
}

.titulo {
  display: flex;
  justify-content: center;
}

.textForma,
.textSobre,
.textJogadas {
  margin-top: 70px;
}

section {
  display: flex;
  justify-content: center;
}

.divinsta {
  margin-top: 60px;
}

.imginsta {
  width: 93px;
  height: 93px;
}

.linkComp {
  text-decoration: none;
  color: white;
}

.imgGit {
  border-radius: 20px;
}
